.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
  }
  body {
    font-size: 18px;
    font-family: "Yellowtail", sans-serif;
    background-color: #010a01;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png")
  }  
  h1, h2 {
    text-align: center;
    font-weight: 400;
  } 
  h1 {
      font-size: 5.2rem;
      animation: pulsate 0.11s ease-in-out infinite alternate;     
  }
  h2 {
      font-size: 1.8rem;
  }
  @keyframes pulsate { //Here CSS Pulse Animation Effect provides a pulsating effect to an element that changes its shape and opacity.
  
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #5271ff,
        0 0 80px #5271ff,
        0 0 90px #5271ff,
        0 0 100px #5271ff,
        0 0 150px #5271ff;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #5271ff,
      0 0 73px #5271ff,
      0 0 80px #5271ff,
      0 0 94px #5271ff,
      0 0 140px #5271ff;
  }
}



/*  */

/* The switch - the box around the slider */
#theme-toggle-button {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 7em;
    cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  #toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #container,
  #patches,
  #stars,
  #button,
  #sun,
  #moon,
  #cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
  }
  
  /* night sky background */
  #toggle:checked + svg #container {
    fill: #2b4360;
  }
  
  /* move button to right when checked */
  #toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
  }
  
  /* show/hide sun and moon based on checkbox state */
  #sun {
    opacity: 1;
  }
  
  #toggle:checked + svg #sun {
    opacity: 0;
  }
  
  #moon {
    opacity: 0;
  }
  
  #toggle:checked + svg #moon {
    opacity: 1;
  }
  
  /* show or hide background items on checkbox state */
  #cloud {
    opacity: 1;
  }
  
  #toggle:checked + svg #cloud {
    opacity: 0;
  }
  
  #stars {
    opacity: 0;
  }
  
  #toggle:checked + svg #stars {
    opacity: 1;
  }
  
